# Copier en `.env` et adapter. NE JAMAIS committer `.env`.

# App
NODE_ENV=development
PORT=3000

# PostgreSQL (cf. docker-compose.yml)
DB_HOST=localhost
DB_PORT=5432
DB_USER=nkap
DB_PASSWORD=nkap
DB_NAME=nkap_dev

# TypeORM — en prod : synchronize=false TOUJOURS (on utilise les migrations)
DB_SYNCHRONIZE=false
DB_LOGGING=true
